<app-menu></app-menu>
<div *ngFor='let user of allUser'> 
  <h1>   {{user.idUser}}   </h1>
  <h1>   {{user.username}}  </h1>
  <h1>   {{user.creation_date}}         </h1>
</div>



<div id="inicial">
  <img src= "https://image.flaticon.com/icons/png/512/23/23931.png" width="30" height="30"/>
  <h2>Agregar un nuevo Usuario</h2>
</div>

<div id="general">
  <mat-form-field class="example-full-width">
    <mat-label class="mat-label">Id del Usuario:</mat-label>
      <textarea matInput placeholder="Id Usuario" [(ngModel)]="newUser.idUser" ></textarea>
  </mat-form-field>  
  <mat-form-field class="example-full-width">
      <mat-label class="mat-label">Nombre:</mat-label>
      <textarea matInput placeholder="Nombre del Usuario"[(ngModel)]="newUser.username" ></textarea>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label class="mat-label">Fecha</mat-label>
    <textarea matInput placeholder="Fecha"[(ngModel)]="newUser.creation_date" ></textarea>
</mat-form-field>  
<button mat-flat-button (click) = "NewUser()" color="primary" selected>Registrar Usuario</button>
</div>  
