<app-menu></app-menu>

<div id="general">
  <div id="inicial">
    <img src= "https://image.flaticon.com/icons/png/512/23/23931.png" width="30" height="30"/>
    <h2>Eliminar Usuario Por Id</h2>
  </div>

  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Ingrese el Id del Usuario que desea Eliminar</mat-label>
      <span matPrefix>Id: &nbsp;</span>
      <input type="number" matInput placeholder="123...n" [(ngModel)]="id_Eliminar" [ngModelOptions]="{standalone: true}">
      <mat-icon matSuffix (click) = "deleteUserById()"  title="Eliminar Registro">delete</mat-icon>
    </mat-form-field>
  </form>

    <div id="general" *ngFor ='let user of listUsers'>
        <br>
        <mat-tab-group>    
        <mat-tab label="Id">{{ user.idUser }}</mat-tab>             
        <mat-tab label="Nombre">{{ user.username }}</mat-tab>            
        <mat-tab label="Fecha">{{ user.creation_date }}</mat-tab> 
        <br>
        <br>
        <br>
      </mat-tab-group>
      </div>


