<app-menu></app-menu>
<div id="general" *ngFor ='let tweet of misTweets'>
    <br>
    <br>
    <br>
<div id="general" *ngFor ='let tweet of misTweets'>
    <br>

    <mat-tab-group>    
    <mat-tab label="Tweet">{{ tweet.texto }}</mat-tab>             
    <mat-tab label="Autor">{{ tweet.autor }}</mat-tab>            
    <mat-tab label="Fecha">{{ tweet.fecha }}</mat-tab>
    <mat-tab label="Eliminar Tweet">{{ tweet }}</mat-tab>  

    <br>
    <br>
    <br>
  </mat-tab-group>
</div>
  </div>

