<div *ngFor='let follower of misFollowers'> 
  <h1>   {{follower.followername}}   </h1>
  <h1>   {{follower.creation_date}}  </h1>
  <h1>   {{follower.idUser}}         </h1>
</div>

<br>
<br>
<br>
<div id="inicial">
  <img src= "https://image.flaticon.com/icons/png/512/23/23931.png" width="30" height="30"/>
  <br>
</div>

<div id="texto">
  <h2>Agregar un nuevo Seguidor</h2>
</div>

<div id="general">
  <mat-form-field class="example-full-width">
    <mat-label class="mat-label">Nombre del Seguidor:</mat-label>
      <textarea matInput placeholder="Nombre del Seguidor" [(ngModel)]="newFollower.followername" ></textarea>
  </mat-form-field>  
  <mat-form-field class="example-full-width">
      <mat-label class="mat-label">Fecha:</mat-label>
      <textarea matInput placeholder="Fecha"[(ngModel)]="newFollower.creation_date" ></textarea>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label class="mat-label">Usuario:</mat-label>
    <textarea matInput placeholder="Usuario"[(ngModel)]="newFollower.idUser" ></textarea>
</mat-form-field>  
<button mat-flat-button (click) = "NewFollower()" color="primary" selected>Registrar Seguidor</button>
</div>  
